.profile__about {
    margin: 16px 0 0;
    grid-column: 1 / 3;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 675px) {
    .profile__about {
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        grid-column: 2 / 3;
    }
}